body{
    background: url(../assets/images/1920x1200-Library-Background.jpg);
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba($color: #000000, $alpha: 1.0);
    background-image: url(../assets/images/1920x1200-Library-Background.jpg);
    padding: 50px;
}